[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.errorForm {
  opacity: 1;
  transition: 0.25s;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 0.6rem;
}
.errorForm1 {
  display: none;
}
.flexImg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  .img {
    opacity: 1;
    width: 50%;
    float: right;
    border: 1px solid white;
    transition: 0.25s;
    order: 1;
    border-radius: 10px;
  }
  .imgNone {
    opacity: 0;
  }
  .selection {
    width: 100%;
    order: 2;
  }
}
.pics {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 100%;
  }
}
.fleX {
  display: flex;
  justify-content: center;
}
.booking-form {
  border-radius: 5px;
  background-color: #582c83;
  color: white;
  border: 2px solid #582c83;
  padding: 1rem;
  width: 100%;
  margin-top: 4rem;
  font-size: 1.2rem;

  p:first-child {
    border-bottom: 2px solid red;
  }

  input {
    margin: 1rem 0;
    width: 100%;
    padding: 0.3rem 0;
  }
  select {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
  }
  button {
    background-color: #f9dd00;
    color: #521751;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 0.4rem 0;
    cursor: pointer;
  }
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  .field input {
    width: 90%;
  }
  .date {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 5px 5px;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .total {
    font-size: 2rem;
    font-weight: 900;
    background-color: white;
    padding: 0.5rem;
    text-align: center;
    color: black;
    transition: 0.25s;
    border-radius: 10px;

    p {
      border: 1px solid grey;
    }
  }
  hr {
    background-color: grey;
  }
  h4 {
    border-bottom: 1px solid #f9dd00;
    width: 60%;
    padding: 0 0 1rem 0;
    font-size: 1.3rem;
  }
}
.flex-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
}
.success {
  text-align: center;
  p {
    font-size: 1.2rem;
  }
}
.toologonav {
  display: flex;
  justify-content: center;
  width: 15rem;
  margin: 0 auto;
  opacity: 0.6;
}
.spanche {
  color: black;
  font-size: 1rem;
}
.opa1 {
  opacity: 1;
}
.opa2 {
  opacity: 0;
}
@media (max-width: 1048px) {
  .flex-form {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .flexImg {
    .img {
      width: 40%;
    }
  }
}
@media (max-width: 426px) {
  .flexImg {
    flex-direction: column;
    .img {
      width: 100%;
    }
  }
  .booking-form {
    h4 {
      width: 70%;
    }
  }
  select {
    width: 100%;
  }
  .flex-form {
    width: 80%;
  }
  .date {
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .booking-form {
    h4 {
      width: 87%;
    }
  }
}
@media (max-width: 321px) {
  .booking-form {
    h4 {
      font-size: 1.1rem;
      width: 80%;
    }

    .error {
      width: 80%;
    }
  }
}
