[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.pics {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 100%;
    transition: opacity 0.5s ease 0s;
  }
}
.fleX {
  display: flex;
}
.booking-form {
  background-color: #582c83;
  color: white;
  border: 2px solid #582c83;
  padding: 1rem;
  width: 100%;
  margin-top: 4rem;
  input {
    margin-bottom: 1rem;
    width: 100%;
  }
  select {
    margin-bottom: 1rem;
    width: 50%;
  }
  button {
    background-color: #f9dd00;
    color: #521751;
    border: none;
    width: 100%;
  }
  .field input {
    width: 90%;
  }
  .date {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    input {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
      // width: 190px;
    }
  }
  .total {
    font-size: 2rem;
    // color: red;
    text-align: center;

    p {
      background-color: white;
      padding: 0.7rem;
      border: 1px solid grey;
    }
  }
  hr {
    background-color: grey;
  }
  h4 {
    border-bottom: 1px solid #f9dd00;
    width: 50%;
    padding: 0 0 1rem 0;
  }
}
.flex-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}
.success {
  text-align: center;
  p {
    font-size: 1.2rem;
  }
}
.toologonav {
  display: flex;
  justify-content: center;
  width: 15rem;
  margin: 0 auto;
  opacity: 0.6;
}
@media (max-width: 426px) {
  select {
    width: 100%;
  }
  .flex-form {
    width: 80%;
  }
  .date {
    flex-direction: column;
  }
}
