@import "../variable.scss";

.toolbar {
  width: 100%;
  //   position: fixed;
  height: 56px;
  background-color: $violate;
  .icons {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      color: white;
      // margin: 0 0 0 0.4rem;
      font-size: 1.3rem;
    }
  }
}

.toolbarNav {
  display: flex;
  //   justify-content: space-around;
  align-items: center;
  height: 100%;
  // padding: 0 0.4rem;
}

.nav-item {
  text-decoration: none;
  color: white;
}
.toolItems {
  button {
    white-space: nowrap;
    color: $yellow;
    background-color: transparent;
    border: 1.8px solid $yellow;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: $yellow;
    color: $violate;
    transition-duration: 0.5s;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    //   justify-content: center;
    align-items: center;
  }
}
.icons {
  a:hover {
    color: $yellow;
  }
}
.toologonav {
  list-style: none;
  color: white;
  text-decoration: none;
  img {
    width: 50px;
    margin: 0;
    // border: 1px solid white;
    border-radius: 50px;
    padding: 0;
  }
}
.toolLogo {
  img {
    margin: 0 1rem;
  }
  // margin-left: 1rem;
}
.nav-item:hover {
  color: $yellow;
}
.active-nav-item {
  color: $yellow;
}
.space {
  flex-grow: 1;
}
ul li {
  color: #ffffff;
  font-size: 0.9rem;
  list-style: none;
  text-align: center;
  padding: 0 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .nav-item {
    display: none;
  }
}

@media (min-width: 769px) {
  .tool-toggle-button {
    display: none;
  }
}
@media (max-width: 426px) {
  .toggleButton {
    // margin-left: 2rem;
  }
}
@media (max-width: 340px) {
  .toolbar {
    .icons {
      a {
        // margin: 1rem 0.4rem;
      }
      a:nth-child(0) {
        // margin-right: 0.5rem;
      }
    }
  }
}
@media (max-width: 320px) {
  .toolItems {
    display: none;
  }
}
