.booking-form {
  background-color: #582c83;
  color: white;
  border: 2px solid #582c83;
  //   border-radius: 10px;
  padding: 1rem;
  width: 50%;
  margin-top: 4rem;
  //   input,
  //   option {
  //     margin-left: 1rem;
  //   }
  button {
    background-color: #f9dd00;
    color: #521751;
    border: none;
    margin-top: 2rem;
    width: 100%;
  }
  .field input {
    width: 90%;
  }
  .date {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
  }
  hr {
    background-color: grey;
  }
  h4 {
    border-bottom: 1px solid #f9dd00;
    width: 50%;
    padding: 0 0 1rem 0;
  }
}
.flex-form {
  display: flex;
  justify-content: center;
}
