.contact {
  padding: 1rem;
  border-radius: 10px;

  a img {
    width: 20px;
    height: 20px;
  }
  p :last-child {
    margin-bottom: -3px;
  }
}
.logo {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  img {
    width: 50%;
  }
}
.padx {
  padding: 1rem;
}
.icons {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  // background-color: grey;
  a {
    // align-items: center;
    font-size: 2rem;
    color: #521751;
  }
  a:hover {
    color: #f9dd00;
  }
}
.whats {
  background-color: #665cac;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
  .book p:nth-child(1) {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  .book p:nth-child(2) {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  .book p:nth-child(3) {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .icon a {
    font-size: 5rem;
    margin: 0.4rem;
    color: white;
  }
  .icon a:nth-child(1):hover {
    color: #54c0d4;
  }
  .icon a:nth-child(2):hover {
    color: #25d366;
  }
}
.accom {
  padding: 1rem;
}
@media (max-width: 768px) {
}

@media (min-width: 426px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 1.5rem;
    }
    .icon a {
      font-size: 4rem;
    }
  }
}
