@import "../components/variable.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.bgCollage {
  background-image: url("../images/gallery1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
  .text {
    padding: 1rem;
    text-align: center;
  }
  .phone {
    font-family: "Muli", sans-serif;
    font-size: 1.5rem;
    a {
      color: $black;
    }
    .whatUp {
      color: $greenWhatsUp;
    }
    .viber {
      color: $violate;
    }
    a:hover,
    .whatUp:hover,
    .viber:hover {
      color: red;
    }
  }
  p :last-child {
    margin-bottom: -3px;
  }
  h1 {
    padding: 0;
  }
}
.staff {
  // margin-bottom: -7px;
  width: 80%;
  opacity: 0.8;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.reach {
  // background-color: $violate;
  // color: white;
  padding: 2rem 1rem;
  font-size: 2rem;
  text-align: center;
  a {
    color: $violate;
    text-decoration: none;
  }
  a:hover {
    color: red;
  }
}
.logo {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  img {
    width: 50%;
  }
}
.logoA {
  text-align: center;
  img {
    width: 30%;
    cursor: pointer;
  }
}
.logoFirst {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  img {
    margin: 1rem 0 0 0;
    // cursor: pointer;
  }
}
.padx {
  padding: 2rem;
}
.icons {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  a {
    font-size: 2rem;
    color: #521751;
  }
  a:hover {
    color: #f9dd00;
  }
}
.whats {
  background-color: #665cac;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0.7rem;
  margin-top: -3.8rem;
  border-bottom: 2px solid white;
  .book p:nth-child(1) {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
  }
  .book p:nth-child(2) {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  .book p:nth-child(3) {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .icon a {
    font-size: 4rem;
    margin: 0.4rem;
    color: white;
  }
  .icon a:nth-child(1):hover {
    color: #54c0d4;
  }
  .icon a:nth-child(2):hover {
    color: #25d366;
  }
}
.accom {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .link-click {
    text-decoration: none;
    padding: 0.3rem;
  }
  .link-click:hover {
    color: red;
  }
}

@media (max-width: 869px) {
  .map {
    width: 465px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 661px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 1.4rem;
    }
  }
}
@media (max-width: 604px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 575px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 546px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 1.1rem;
    }
  }
}
@media (max-width: 522px) {
  .map {
    width: 315px;
  }
}
@media (max-width: 517px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 1rem;
    }
  }
}
@media (max-width: 444px) {
  .whats {
    .icon a {
      font-size: 3.5rem;
    }
  }
}
// @media (min-width: 426px) {
//   .whats {
//     .book p:nth-child(1) {
//       font-size: 1.2rem;
//     }
//     .icon a {
//       font-size: 2rem;
//     }
//   }
// }
@media (max-width: 426px) {
  .reach {
    font-size: 1.3rem;
  }
  .whats {
    .book p:nth-child(1) {
      font-size: 1.2rem;
    }
    .icon a {
      font-size: 2rem;
    }
  }
  .book {
    p {
      font-size: 2rem;
    }
  }
  .bgCollage {
    background-size: cover;
  }
  .accom {
    padding: 1rem 3rem;
    img {
      width: 80%;
    }
  }
}
@media (max-width: 426px) {
  .logoFirst {
    width: 80%;
  }
}
@media (max-width: 421px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 0.9rem;
    }
  }
}
@media (max-width: 379px) {
  .whats {
    .book p:nth-child(3) {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 376px) {
  .whats {
    padding: 1rem 0.7rem;
    .book p:nth-child(1) {
      font-size: 1rem;
    }
    .book p:nth-child(2) {
      font-size: 1.8rem;
    }
    .book p:nth-child(3) {
      font-size: 0.8rem;
    }
  }
  .accom {
    a {
      font-size: 1.6rem;
      padding: 2rem;
    }
  }
}
@media (max-width: 370px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 0.87rem;
    }
    .book p:nth-child(2) {
      font-size: 1.6rem;
    }
  }
}
@media (max-width: 336px) {
  .whats {
    .book p:nth-child(1) {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 321px) {
  .whats {
    padding: 0.5rem;
    .book p:nth-child(1) {
      font-size: 0.7rem;
    }
    .book p:nth-child(2) {
      font-size: 1.6rem;
    }
  }
}
