// .header {
//   padding: 1rem 0 0 0;
// }
.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}
.mainImage {
  width: 90%;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  text-align: center;
  background-color: #767991;
}

.nav-item {
  color: #582c83;
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
}
.nav-item:hover {
  color: #f9dd00;
}

.active-nav-item {
  color: #f9dd00;
}
// ul li {
//   margin-bottom: 0;
//   text-align: center;
//   margin: 0.3rem 2rem 0rem 1.5rem;
//   text-transform: uppercase;
// }

.bookhere {
  font-size: 2rem;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  cursor: pointer;
  background-color: rgb(86, 196, 86);
  border: none;
  padding: 1rem;
  color: white;
  border-bottom: 2px solid #f9dd00;
  // animation: shadow-pulse 1s infinite;
}
.flexlink {
}
.linkbook {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}

.exampleOne {
  animation: shadow-pulse 1s infinite;
}
