.header {
  padding: 1rem 0 0 0;
}
.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}
.mainImage {
  width: 90%;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  text-align: center;
  background-color: #767991;
}
.nav-item {
  color: #582c83;
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
}
.nav-item:hover {
  color: #f9dd00;
  // border-bottom: 1px solid #f9dd00;

  // background-color: #f9dd00;
  // padding: 14.5px;
}

.active-nav-item {
  color: #f9dd00;
  // font-weight: bold;
  // color: #000000;
  // color: #ffffff;

  // background-color: #f9dd00;
}
ul li {
  margin-bottom: 0;
  text-align: center;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
