@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "variable.scss";

body {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
}
.container {
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  -webkit-box-shadow: -9px -9px 18px -8px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -9px -9px 18px -8px rgba(0, 0, 0, 0.45);
  box-shadow: -9px -9px 18px -8px rgba(0, 0, 0, 0.45);
}

.imgHeader {
  display: flex;
  justify-content: flex-end;
  // max-width: 750px;
}
.content {
  flex-grow: 1;
  min-height: calc(100vh - 82px);
}
.all {
  background-color: #d3d3d3;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.pic {
  width: 11rem;
  z-index: 0;
  opacity: 0.6;
  z-index: 1;
  margin-top: 1em;
}
